# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules
dist
dist-ssr
*.local

# Tauri
src-tauri/target
src-tauri/gen
src-tauri/session_log.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
local/2740d1f9-9fb8-48a1-9b6b-9e15493002b9.png
local/app_icon.png
local/app_icon2.png
CLAUDE.md
